
.service-card {
    position: relative;
    overflow: hidden;
   height: 300px
  }
  
  .service-card img {
    transition: filter 0.3s ease-in-out;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the overlay color and opacity */
    color: #fff; /* Text color on the overlay */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
  }
  
  .service-card:hover .overlay {
    opacity: 1; /* Show overlay on hover */
  }
  
  .service-card:hover img {
    filter: blur(5px); /* Apply blur effect on hover */
  }